body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 64px - 70px);
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 1rem;
  border-radius: 10px;
}

.collection_overlayed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70%;
  box-shadow: 9px 11px 10px -1px rgba(0,0,0,0.47);
}

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.collection > .close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 2;
}

.collection-item_flexed {
  display: flex;
  justify-content: space-between;
}

.quantity-btns i:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}